@page
@using ElectronicLearn.Core.Convertors;
@using ElectronicLearn.Core.Services.Interfaces;
@model ElectronicLearn.Web.Pages.Admin.Users.IndexModel
@inject IWalletService _walletService;
@{
    ViewData["Title"] = "لیست کاربران";
    var filterUserName = HttpContext.Request.Query["filterUserName"];
    var filterEmail = HttpContext.Request.Query["filterEmail"];
}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                لیست کاربران
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline" role="grid">
                        <form>
                            <div class="row">
                                <div class="col-sm-5">
                                    <input class="form-control input-sm" type="text" placeholder="نام کاربری" name="filterUserName" value="@filterUserName" />
                                </div>
                                <div class="col-sm-5">
                                    <input class="form-control input-sm" type="text" placeholder="ایمیل" name="filterEmail" value="@filterEmail" />
                                </div>
                                <div class="col-sm-2">
                                    <button type="submit" class="btn btn-primary btn-sm">جستجو</button>
                                    <a href="/Admin/Users" class="btn btn-default btn-sm">خالی</a>
                                </div>
                                <div class="col-sm-5"></div>
                            </div>
                        </form>
                        <div style="margin: 10px;">
                            <a href="/Admin/Users/CreateUser" class="btn btn-success btn-outline btn-sm">افزودن کاربر جدید</a>
                        </div>
                        <table class="table table-striped table-bordered table-hover dataTable no-footer" id="dataTables-example" aria-describedby="dataTables-example_info">
                            <thead>
                                <tr role="row">
                                    <th class="sorting_asc" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column ascending">نام کاربری</th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">ایمیل</th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">وضعیت</th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">موجودی</th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending">تاریخ عضویت</th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">عملیات</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var user in Model.AdminUsersListViewModel.Users)
                                {
                                    <tr>
                                        <td>@user.UserName</td>
                                        <td>@user.Email</td>
                                        <td>
                                            <strong>
                                                @if (user.IsActive)
                                                {
                                                    <span class="text-success">فعال</span>
                                                }
                                                else
                                                {
                                                    <span class="text-danger">غیر فعال</span>
                                                }
                                            </strong>
                                        </td>
                                        <td>@_walletService.GetUserBalance(user.UserId).ToString("#,0 تومان")</td>
                                        <td>@user.RegisterDate.ToShamsi()</td>
                                        <td>
                                            <a href="/Admin/Users/EditUser/?userId=@user.UserId" class="btn btn-warning btn-sm">ویرایش</a>
                                            <a href="/Admin/Users/DeleteUser/?userId=@user.UserId" class="btn btn-danger btn-sm">حذف</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="dataTables_paginate paging_simple_numbers" id="dataTables-example_paginate">
                                    <ul class="pagination">
                                        @for (int i = 1; i <= Model.AdminUsersListViewModel.PagesCount; i++)
                                        {
                                            <li class="paginate_button @((Model.AdminUsersListViewModel.CurrentPage == i) ? "active" : "")" aria-controls="dataTables-example" tabindex="0">
                                                <a href="/Admin/Users/?filterUserName=@filterUserName&filterEmail=@filterEmail&pageId=@i">@i</a>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>